<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<div th:fragment="bottom-buttons" class="action-bar">

    <a th:href="@{/idea/new}" class="pill-btn">
        <span class="btn-icon">⊕</span> Add Idea
    </a>

    <a th:href="@{/expedition/new}" class="pill-btn">
        <span class="btn-icon">⊕</span> Add Period
    </a>

    <a th:href="@{/expedition/list}" class="pill-btn">
        <span class="btn-icon" alt="calendar">🖼️</span>
        Expedition list
    </a>

    <a th:href="@{/idea/list}" class = "pill-btn">
        <span class = "btn-icon">⭐</span>
        Idea list
        <span class = "btn-icon">⭐</span>
    </a>

    <button class="pill-btn">
        <span class="btn-icon">🔎</span> Search
    </button>

</div>

</body>
</html>